body {
  background-color: #86968d;
  margin: 0;
  padding: 0;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-image {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Responsive */
@media (max-width: 430px) {
  .container-carta {
    display: flex;
    justify-content: center;
  }

  .container-image {
    max-width: 95%;
    height: 500px;
  }
}
